# For local deployment (should be already set up by `npx convex dev`):
CONVEX_DEPLOYMENT=

# When connecting to a self-hosted Convex instance, uncomment the following lines and set the URL and admin key.
# CONVEX_SELF_HOSTED_URL=
# CONVEX_SELF_HOSTED_ADMIN_KEY=
